body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #34568b;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  height: 28vh;
  width: 27.76vh;
  margin-top : 50px;

  margin-bottom: 50px;
  

}

.square {
  height: 9vh;
  width: 9vh;
  background-color: pink;
  border: 1px solid black;
}
